@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,300;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #FFF;
}

#logo {
    width: 100px;
    height: 100%;
}

#brand {
    display: flex;
    align-items: center;
}

.logoh1 {
    text-align: center;
    margin-left: 200px;
}


h1 {
    text-align: center;
}

#optionsButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    position: relative;
    z-index: 2;
}

#optionsButton:hover{
    color: #d21617;
}

#options-container {
    color: black;
    display: none;
    position: absolute;
    top: 60px;
    right: 70px;
    background: rgba(255, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;

}

#options-container :hover{
    color: #000;
}

.option{
    border-radius: 20px;
    border: 1px solid #d21617;
    background-color: #d21617;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-bottom: 8px;
    cursor: pointer;
}

.option:active {
    transform: scale(0.95);
}

.option:focus {
    outline: none;
}

.option.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}


.user-icon {
    margin-left: 10px;
}

.btn-cadastrar {
    border-radius: 20px;
    border: 1px solid rgba(24, 221, 17, 0.4);
    background-color: rgba(24, 221, 17, 0.4);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-right: 15px;  /* Espaçamento entre os botões */
    display: inline-block;
}

.btn-cadastrar:active {
    transform: scale(0.95);
}

.btn-cadastrar:focus {
    outline: none;
}

.delete{
    border-radius: 10px;
    border: 1px solid #f44336;
    background-color: #f44336;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 4px 2px;
}

button.delete {
    background-color: #f44336;
}

button.delete:active {
    transform: scale(0.95);
}

button.delete:focus {
    outline: none;
}

button.delete.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.edit{
    border-radius: 10px;
    border: 1px solid rgba(24, 221, 17, 0.4);
    background-color: rgba(24, 221, 17, 0.4);
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 4px 2px;

}

button.edit {
    background-color: rgba(24, 221, 17, 0.4);
}

button.edit:active {
    transform: scale(0.95);
}

button.edit:focus {
    outline: none;
}

button.edit.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}


